<div class="container">
  <div class="row">
    <div class="col-md no-gutters" id="pph">
      <a class="internal-url pph handbook" href="https://pph.drdplus.info">
        <div class="name">PPH
          <div class="note">Pravidla pro hráče</div>
        </div>
      </a>
    </div>
    <div class="col-md no-gutters" id="fighter">
      <a class="internal-url bojovnik handbook" href="https://bojovnik.drdplus.info">
        <span class="name">Bojovník</span>
      </a>
    </div>
    <div class="col-md no-gutters" id="wizard">
      <a class="internal-url carodej handbook" href="https://carodej.drdplus.info">
        <span class="name">Čaroděj</span>
      </a>
    </div>
    <div class="col-md no-gutters" id="thief">
      <a class="internal-url zlodej handbook" href="https://zlodej.drdplus.info">
        <span class="name">Zloděj</span>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-md no-gutters" id="ranger">
      <a class="internal-url hranicar handbook" href="https://hranicar.drdplus.info"><span
          class="name">Hraničář</span></a>
    </div>
    <div class="col-md no-gutters" id="theurgist">
      <a class="internal-url theurg handbook" href="https://theurg.drdplus.info"><span class="name">Theurg</span></a>
    </div>
    <div class="col-md no-gutters" id="priest">
      <a class="internal-url knez handbook" href="https://knez.drdplus.info"><span class="name">Kněz</span></a>
    </div>
    <div class="col-md no-gutters" id="rulesStory">
      <a class="internal-url pribeh" href="https://pribeh.drdplus.info"><span
          class="name">Příběh z pravidel</span></a>
    </div>
  </div>
  <div class="row">
    <div class="col-md no-gutters" id="Dm">
      <a class="internal-url ppj handbook link" href="https://ppj.drdplus.info">
        <div class="name">PPJ<br>
          <div class="note">pravidla pro Pána jeskyně</div>
        </div>
      </a>
    </div>
    <div class="col-md no-gutters" id="bestiary">
      <a class="internal-url bestiar handbook" href="https://bestiar.drdplus.info"><span
          class="name">Bestiář</span></a>
    </div>
    <div class="col-md no-gutters" id="bestiaryStory">
      <a class="internal-url pribeh-bestiar handbook" href="https://pribeh.bestiar.drdplus.info">
        <span class="name">Příběh z Bestiáře</span>
      </a>
    </div>
    <div class="col-md no-gutters" id="blog">
      <a class="internal-url blog" href="https://blog.drdplus.info/">
        <div class="name">Blog z vývoje DrD+ 2
          <div class="last-change">(7. 12. 2018)</div>
        </div>
      </a>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md no-gutters" id="theurgistCalculator">
      <a class="internal-url theurg-calculator" href="https://formule.theurg.drdplus.info">
        <div class="name">Formule pro Theurga
          <div class="note">kalkulátor</div>
        </div>
      </a>
    </div>
    <div class="col-md no-gutters" id="fight">
      <a class="internal-url fight-calculator" href="https://boj.drdplus.info">
        <div class="name">Do boje!
          <div class="note">kalkulátor zbraní</div>
        </div>
      </a>
    </div>
    <div class="col-md no-gutters" id="fall">
      <a class="internal-url fall-calculator" href="https://pad.drdplus.info">
        <div class="name">Padáš!
          <div class="note">kalkulátor zranění při pádu</div>
        </div>
      </a>
    </div>
    <div class="col-md no-gutters" id="destruction">
      <a class="internal-url destruction-calculator" href="https://niceni.drdplus.info">
        <div class="name">Rozbij to!
          <div class="note">kalkulátor ničení</div>
        </div>
      </a>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md no-gutters" id="taria">
      <a class="taria" href="http://taria.unas.cz/index2.php"><span class="name">Taria</span></a>
    </div>
    <div class="col-md no-gutters" id="tariaExtensions">
      <div class="links link taria-zahvozdi">
        <a href="/pdf/severni_taria_drd_plus.pdf" class="link">
          <span class="name">Severní Taria, úpravy pro DrD+</span>
        </a>
        <a class="link" href="/pdf/taria_zahvozdi_drd_plus.pdf">
          <span class="name">Taria Záhvozdní, úpravy pro DrD+</span>
        </a>
      </div>
    </div>
    <div class="col-md no-gutters" id="altar">
      <a class="altar small-image" href="https://altar.cz"><span class="name">Altar</span></a>
    </div>
    <div class="col-md no-gutters" id="invisibleBook">
      <a class="neviditelna-kniha small-image" href="http://neviditelnakniha.cz/">
        <div class="name">Neviditelná kniha
          <div class="note">kuchařka světa pro hry na hrdiny</div>
        </div>
      </a>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md no-gutters" id="asterion">
      <a class="asterion-page" href="http://asterionrpg.cz/">
        <div class="name">Asterion
          <div class="note">rozsáhlý fantasy svět pro hry na hrdiny</div>
        </div>
      </a>
    </div>
    <div class="col-md no-gutters" id="asterionExtensions1">
      <div class="links link asterion">
        <a class="link" href="/pdf/asterion/Asterion-Čas_temna_pro_DrDPlus.pdf">Čas
          temna</a>
        <a class="link" href="/pdf/asterion/Asterion-Nemrtví_a_světlonoši_pro_DrDPlus.pdf">Nemrtví
          a světlonoši</a>
        <a class="link" href="/pdf/asterion/Asterion-Písky_proroctví_pro_DrDPlus.pdf">Písky
          proroctví</a>
        <a class="link" href="/pdf/asterion/Asterion-Vzestup_temných_bohů_pro_DrDPlus.pdf">Vzestup
          temných bohů</a>
        <a class="link" href="/pdf/asterion/Asterion-Z_hlubin_zelené_a_modré_pro_DrDPlus.pdf">Z
          hlubin zelené a modré</a>
      </div>
    </div>
    <div class="col-md no-gutters" id="asterionExtensions2">
      <div class="links link asterion-applications">
        <a class="link" href="/pdf/asterion/Asterion-Zlatá_pavučina_pro_DrDPlus.pdf">Zlatá
          pavučina</a>
        <a class="link" href="/pdf/asterion/Asterion-Obloha_z_listí_a_drahokamů_pro_DrDPlus.pdf">Obloha
          z listí a drahokamů</a>
        <a class="link" href="/pdf/asterion/Asterion-Falešná_apokalypsa_pro_DrDPlus.pdf">Falešná
          apokalypsa</a>
        <a class="link" href="/pdf/asterion/Asterion-Za_závojem_stínů_pro_DrDPlus.pdf">Za
          závojem stínů</a>
        <a class="link" href="/pdf/asterion/Asterion-Krajiny_za_obzorem-Stíny_jihu_pro_DrDPlus.pdf">Krajiny
          za obzorem: Stíny jihu</a>
      </div>
    </div>
    <div class="col-md no-gutters" id="asterionForum">
      <a class="asterion-forum" href="http://asterionrpg.cz/forum/viewtopic.php?t=245">Fórum
        o Asterionu</a>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md no-gutters" id="draciDoupeCz">
      <a class="draci-doupe-cz small-image" href="http://www.dracidoupe.cz/">
        <div class="name">Server o Dračím doupěti
          <div class="note">Máte doma draka?</div>
        </div>
      </a>
    </div>
    <div class="col-md no-gutters" id="gamecon">
      <a class="gamecon small-image" href="https://gamecon.cz/">
        <div class="name">Gamecon
          <div class="note">Největší festival nepočítačových her</div>
        </div>
      </a>
    </div>
    <div class="col-md no-gutters" id="drakkar">
      <a class="drakkar" href="http://drakkar.sk/">
        <div class="name">Drakkar
          <div class="note">Internetový dvouměsíčník o RPG hrách</div>
        </div>
      </a>
    </div>
    <div class="col-md no-gutters" id="d20">
      <a class="d20 small-image" href="http://www.d20.cz/">
        <div class="name">D20
          <div class="note">D20 v kostce (D&D, rady pro PJ a další)</div>
        </div>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-md no-gutters" id="immortalFighters">
      <a class="immortal-fighters" href="http://www.immortalfighters.net/">
        <div class="name">Immortal fighters
          <div class="note">Online textová hra podle DrD</div>
        </div>
      </a>
    </div>
    <div class="col-md no-gutters" id="andor">
      <a class="andor" href="https://www.andor.cz/">
        <div class="name">Andor
          <div class="note">Dračí doupě online a akce offline</div>
        </div>
      </a>
    </div>
    <div class="col-md no-gutters" id="pjCraft">
      <a class="pj-craft" href="https://www.youtube.com/playlist?list=PLno6me0_P88URHYUpn_Te7n9u5LE33zRg">
        <div class="name">PJ craft
          <div class="note">Dobré rady Pánům jeskyně</div>
        </div>
      </a>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md no-gutters" id="drd2">
      <a href="http://www.drd2.cz/" class="link drd-2">
        <div class="name">Dračí doupě II
          <div class="note">Mluv a budeš žít</div>
        </div>
      </a>
    </div>
    <div class="col-md no-gutters" id="dragonWatch">
      <a class="draci-hlidka" href="https://www.dracihlidka.cz/#top">
        <div class="name">Dračí hlídka
          <div class="note">Skřetí křížaly a jiné delikatesy</div>
        </div>
      </a>
    </div>
    <div class="col-md no-gutters" id="dND">
      <a class="jeskyne-a-draci" href="http://jeskyneadraci.cz/">
        <div class="name">Jeskyně a draci
          <div class="note">Dungeons & Dragons česky</div>
        </div>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-md no-gutters" id="prophecy">
      <a class="proroctvi" href="https://proroctvi.altar.cz/">Proroctví</a>
    </div>
    <div class="col-md no-gutters" id="dorn">
      <a class="dorn" href="http://dorn.cz/">Dorn</a>
    </div>
    <div class="col-md no-gutters" id="reamLand">
      <a class="rise-snu" href="http://www.hlody.cz/risesnu/">Říše snů</a>
    </div>
    <div class="col-md no-gutters" id="legion">
      <a class="legie" href="https://legie.altar.cz/">Legie</a>
    </div>
  </div>
</div>